:root {

  --clr-light: white;

  --clr--med: #d7dfe2;

  --clr--dark: #90a4ae;

  --clr--dark-heavy:#546e7a;
}


.about-page {
 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
align-items: center;

color: white;
height: 900px;

}



.head-about {

  color: white;
  font-size: 40px;
  font-weight: bold;
  
}

.head-about span{
  color: #00a5ea;
}

.about-img-picture{
  border-top:3px solid white;
  border-bottom:3px solid white;
  box-shadow:inset 0 0 15px orangered,inset 0 0 35px white, inset 0 0 35px lightcoral ;
  width: 330px;
  height: 330px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.about-img-picture img {
  border:3px solid rgb(0, 140, 255);
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.about-page-para {
  
  font-size: 28px;
  font-weight: bold;
 text-shadow: 0 0 10px black, 0 2px 0px orange,0px 2px 0px lightcoral;
  
}

 .about-page-para2{
  
width: 650px;
  font-size: 18px;
  position: relative;
}


.about-imortant {
  color: lightpink;
}

.about-page .read-me{

  padding:10px 20px 10px 20px;
  font-size: 20px;
  border-radius:5em ;
  font-weight: bold;
  border: none;
  outline: none;
  background: var(--clr--med);
  box-shadow: -2px -2px 5px var(--clr-light), 2px 2px 5px var(--clr--dark);
  font-family: 'Montserrat';
  color: var(--clr--dark-heavy);
  
}



.carousel-inner {

  width: 900px;
 
  display: flex;
 align-items: center;
align-items: center;
border-radius: 0.5rem;

}

.carousel-item{
 margin-left: 100px;

text-align: justify;
  width: 700px;
height: 200px;
padding-left: 25px;
margin-top: 50px;

}

.carousel-indicators {


}

/*########################################################*/

@media only screen and (max-width: 879px){

  
  .about-page {
    height: 850px;
    padding-left: 0px;
      }
  
  .carousel-inner{
    width: 800px;
   height: 210px;
  } 

  .carousel-item {
    margin-left: 80px;
    width: 700px;
  }

  .about-page-para2 {
    width: 600px;
    font-size: 16px;
  }


  .about-img-picture {
   width: 300px;
   height: 300px;
  }

.about-img-picture img {
  width: 270px;
  height: 270px;
}


  
}

@media only screen and (max-width: 676px){

  .about-page {
height: 800px;
  }
  
  .carousel-inner{
    width: 600px;
    height: 210px;
  } 

  .carousel-item {
    margin-left: 50px;
  
  }

  .about-page-para2 {
    width: 450px;
    font-size: 14px;
  }


  .about-img-picture {
    width: 270px;
    height: 270px;
   }
 
 .about-img-picture img {
   width: 240px;
   height: 240px;
 }
}


@media only screen and (max-width: 425px){

  .about-page {
height: 800px;

padding-left: 0;
  }

  .head-about {
    font-size: 30px;
  }

  .about-page-para {
    font-size: 20px;
  }
  
  .carousel-inner{
    width: 350px;
    height: 250px;
  } 

  .carousel-item {
    margin-left: 8px;
  
  }

  .about-page-para2 {
    width: 280px;
    font-size: 11px;
  }


  .about-img-picture {
    width: 200px;
    height: 200px;
   }
 
 .about-img-picture img {
   width: 180px;
   height: 180px;
 }

 .about-page .read-me {
  font-size: 14px;
  padding:10px 15px 10px 15px;
 }
 
}

