@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700;900&display=swap');


*{
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

body {
  font-family: 'Poppins', sans-serif;

}

.box {

height: 1100px;
background-color: black;
border: 0.5px solid rgba(243, 239, 239,0.2);
position: static;
left: 0;
right: 0;
padding-left:100px ;
}

.profile-page{
 
height: 900px;
color: white;

}




.profile-container {

  display: grid;
grid-template-columns: 1fr 1fr;
margin-top: 250px;

}


.social-media-links {
 
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
 
  position: fixed;
bottom: 0;
  left: 0;
 width: 100px;
top: 100px;
}

.social-media-links a img{
 
  width: 40px;
background-color: white;
border-radius: 50%;
border: none;
}

.social-media-links a {

}

.Profile-name {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.profile-name-container {


}

.profile-name-container p:nth-child(1) {
  font-size: 40px;
  font-weight: 900;
  font-family: Roboto;
}

.profile-name-container p:nth-child(2) {
  font-size: 35px;
  color: #00a5ea;
  font-weight: 900;
}

.profile-name-container p:nth-child(3) {
  font-size: 23px;
 
}

.cot-para {
font-style: normal;
}

.author-para {
  color: lightskyblue;
  
}


.profile-picture{
  
display: flex;
justify-content: center;
align-items: center;
}

.profile-picture-box {

}

.profile-picture-box img {
 
  object-fit: cover;
  object-position: center;
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.button-profile {

  width: 300px;
 justify-content: space-between;
}

.button-profile button:nth-child(1) {
  
  padding: 10px 15px 10px 15px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #00a5ea;
  border-radius: 0.5rem;
  border: none;
  margin-right: 25px;
}

.button-profile button:nth-child(2) {
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #00a5ea;
 background-color: black;
 color: #00a5ea;
 border-radius: 0.5rem;
}

.Download-CV button{
  margin-top: 20px;
  background-color: rgb(167, 210, 223);
  padding: 15px 25px 15px 25px;
  font-size: 20px;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 3px 5px 10px white;
 
}

.Download-CV button a{
  background-color: rgb(167, 210, 223);
  padding: 15px 25px 15px 25px;
  font-size: 20px;
text-decoration: none;
color: black;
font-weight: bold;

}

.Download-CV button:hover {
  font-size: 22px;
  transition: 0.15s;
}




/*###############################################################*/

@media only screen and (max-width:1700px){
  .social-media-links {
    display:none;
    }

    .profile-container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 300px;
      column-gap: 20px;
    } 

   
    .profile-page{
      
      padding-left: 0px;
      height: 800px;
      color: white;
      
      }

      .profile-container{
        margin-top:300px;
        height: 380px;
       
      }

   .Profile-name {
    justify-content: center;
  }

  .profile-picture-box img {
    width:300px ;
    height:300px ;
  }
}


@media only screen and (max-width:986px){
  .profile-container {
    grid-template-columns: 1fr;
    grid-template-rows: 380px;
    column-gap: 0px;
  } 

  .profile-container{
  width: 700px;
  margin-top:130px;
  }

  .profile-page{
    height: 870px;
    padding-left: 100px;
  
    }

    .Profile-name {
      justify-content: center;
     
    }
  

    .profile-picture {
      margin-top: 50px;
    }

  .profile-picture-box img {
    width: 280px;
    height: 280px;
  }


  .profile-name-container p:nth-child(1) {
    font-size: 35px;
    
  }
  
  .profile-name-container p:nth-child(2) {
    font-size: 30px;
  }
  
  .profile-name-container p:nth-child(3) {
    font-size: 20px;
  
  }

  .button-profile button:nth-child(1) {
  
    padding: 10px 15px 10px 15px;
    font-size: 18px;
    
    margin-right: 25px;
  }
  
  .button-profile button:nth-child(2) {
    padding: 10px 15px 10px 15px;
    font-size: 18px;
    
  }

  .Download-CV button{
    padding: 15px 20px 15px 20px;
    font-size: 18px;
  }

}

@media only screen and (max-width:785px){ 
  .profile-picture-box img {
    width: 250px;
    height: 250px;
  }

  .profile-page{
    height: 870px;
  
  
    }

  .Profile-name {
    height: 800px;
    justify-content: start;
    row-gap: 0;
    
  }

  .profile-container{
    margin-top:110px;
    padding-left: 0px;
  }
  .profile-container {
    grid-template-columns: 1fr;
    grid-template-rows: 300px;
   
  } 
  .profile-picture-box {
margin-top: 115px;
 
}

}

@media only screen and (max-width:670px){
  .profile-container {
    grid-template-columns: 360;
    grid-template-rows: 300px;
    column-gap: 0px;
  } 

  .profile-container{
  width: 400px;
  margin-top:100px;
  }

  .profile-page{
    height: 870px;
  
  
    }

    .Profile-name {
      justify-content: start;
     
    }
  

    .profile-picture {
      margin-top: 50px;
    }

  .profile-picture-box img {
    width: 280px;
    height: 280px;
  }


  .profile-name-container p:nth-child(1) {
    font-size: 30px;
    
  }
  
  .profile-name-container p:nth-child(2) {
    font-size: 25px;
  }
  
  .profile-name-container p:nth-child(3) {
    font-size: 17px;
    
  }

  .button-profile button:nth-child(1) {
  
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    
    margin-right: 25px;
  }
  
  .button-profile button:nth-child(2) {
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    
  }

  .Download-CV button{
    padding: 15px 18px 15px 18px;
    font-size: 18px;
  }

 
 }


 @media only screen and (max-width:425px){
  .profile-container {
    grid-template-columns: 300;
    grid-template-rows: 300px;
    column-gap: 0px;
  } 

  .profile-container{
  width: 300px;
  margin-top:100px;
  }

  .profile-page{
    height: 870px;
  padding-left: 50px;
  
    }

    .Profile-name {
      justify-content: start;
     
    }
  

    .profile-picture {
      margin-top: 120px;
    }

  .profile-picture-box img {
    width: 200px;
    height: 200px;
  }


  .profile-name-container p:nth-child(1) {
    font-size: 26px;
    
  }
  
  .profile-name-container p:nth-child(2) {
    font-size: 21px;
  }
  
  .profile-name-container p:nth-child(3) {
    font-size: 16px;
    
  }

  .button-profile button:nth-child(1) {
  
    padding: 10px 15px 10px 15px;
    font-size: 14px;
    
    margin-right: 25px;
  }
  
  .button-profile button:nth-child(2) {
    padding: 10px 15px 10px 15px;
    font-size: 14px;
    
  }

  .Download-CV button{
    padding: 15px 18px 15px 18px;
    font-size: 18px;
  }

 }
